<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <form action="" method="post">
    {% csrf_token %}
    <h2>Reset Password</h2>
    <label for="" >Enter Registered Email - </label>
    <input type="email" name="email" placeholder='abc@gmail.com' required>
    <br><br>
    <input type="submit" value='Request OTP'>

    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style='color:red;'>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
</body>
</html>