<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <form action="" method="post">
    {% csrf_token %}
    <h2>Change Password</h2>
    {{form.as_p}}
    <input type="submit" value='Change Password'>

    </form>


    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style='color:red;'>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>